@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BLACK MESA</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Welcome to the Black Mesa Research Facility web application, where you can view and manage employees and
            experiments that we have here at our facility.
        </p>
</div>