@model CarInsurance.Models.Applicant

@{
    ViewBag.Title = "Mr. Konman's Car Insurance";
}

<div class="jumbotron">
    <h1>Mr. Konman's Car Insurance</h1>
    <p class="lead">The insurance provider even Al Capone wouldn't run!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Looking for an uncertified insurance provider that gets their business funding from semi-legal side businesses?
            You've found the right place!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>